# Don't Remove Credit Tg - @NexonBots
# Subscribe YouTube Channel For Amazing Bot https://youtube.com/@NexonBots
# Ask Doubt on telegram @NexonContactBot

python-telegram-bot>=22.7,<23
python-dotenv
pymongo
psutil
speedtest-cli==2.1.3
streamlit
